body{
    font-family: 'Spline Sans', sans-serif;
    
    margin: 0%;
}

.name{
    color: orange;
}

section{
  
    display: flex;
    
 
}
.saction_one{
   
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
   
}

.half_width{
    width: 50%;
    padding-left: 5%;
}

.half_width img {
    width: 80%;
}

.button{

    text-decoration: none;
    background-image: linear-gradient(orange , tomato );
    padding: 10px 40px;
    color:  white;
    font-weight: 700;
    border-radius: 5px ;

}



.section_two{
        background-image:url(images/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
    }